# --- Core Web Framework ---
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# --- Database, Storage & Security ---
prisma
bcrypt

# --- Data & Math Utilities ---
numpy

# --- Image Processing & ML ---
pillow   # (PIL) opens raw image files so your code can read the pixels
scikit-learn
dlib-bin # does the heavy lifting of finding faces and mapping their features (landmarks)
git+https://github.com/ageitgey/face_recognition_models   # pre-trained mathematical files (models) that know what a human face looks like
setuptools<70.0.0 